<!DOCTYPE html>
<html lang="en">
  <%- include('includes/head') %>

  <body>
    <main>
      <section class="columns">

        <div class="column">
          <div class="container center">
            <%- include('includes/splash') %>
          </div>
        </div>

        <div class="column">
          <div class="container center">
            <%- include('includes/player') %>
          </div>
        </div>

      </section>

      <%- include('includes/associations') %>
    </main>
    <%- include('includes/footer') %>
    
    <%- include('includes/scripts') %>
  </body>
</html>
