<!DOCTYPE html>
<html lang="en">
  <%- include('includes/head') %>

  <body>
    <div class="background"></div>
    <div class="border"></div>
    
    <main>

      <section class="columns">

        <div class="column">
          <div class="container center">
            <%- include('includes/splash') %>
          </div>
        </div>

        <div class="column">
          <div class="container center">
            <%- include('includes/player') %>
          </div>
        </div>

      </section>

      <%- include('includes/associations') %>
      <%- include('includes/footer') %>
    </main>
    
    <%- include('includes/scripts') %>
  </body>
</html>
