<!DOCTYPE html>
<html lang="en">
  <%- include('includes/head') %>

  <body>
    <main>
      <section class="container">
        <%- include('includes/splash') %>
        <%- include('includes/player') %>
      </section>

      <%- include('includes/associations') %>
    </main>
    <%- include('includes/footer') %>
    
    <%- include('includes/scripts') %>
  </body>
</html>
